body {
  font-family: 'Montserrat', sans-serif;
}

#container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  max-width: 360px;
  background-color: #f7f7f7;
  margin : 100px auto;
}

h1 {
  background-color: #2980b9;
  color: white;
  text-transform: uppercase;
  margin:0;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: normal;
}

.checkedOff{
  text-decoration: line-through;
  color: grey;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #4c4c4c;
}

li:nth-child(odd){
  background-color: #f7f7f7;
}

input {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
}

input:focus {
  outline: none;
  background-color: #fff;
  color: #2980b9;
}
